.carousel {
  position: relative;
  width: 670px;
  padding: 0 20px;
  box-sizing: border-box;
}

.carousel__container {
  overflow: hidden;
  display: flex;
}

.carousel__item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.carousel__button {
  position: absolute;
  border: none;
  background-color: transparent;
  top: calc(38%);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  transition: opacity 0.6s ease, background-color 0.6s ease;
}

.carousel__button:hover {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel__button_left {
  left: -32px;
  padding-right: 6px;
  padding-left: 3px;
}

.carousel__button_right {
  right: -32px;
  padding-right: 3px;
  padding-left: 6px;
}

.carousel__arrow {
  width: 40px;
}
