.coverpage {
  background-color: rgba(228, 216, 202, 0.7);
  background-image: url("/src/assets/cover-page-background-park.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 70%;
}
.coverpage__content {
  font-family: "Lora", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: 400;
  font-size: larger;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 0%;
  padding-right: 30%;
  padding-left: 5%;
  text-shadow: 2px 2px 3px black;
  box-sizing: border-box;
}

.coverpage__title {
  font-weight: 600;
}

.coverpage__accent-text {
  color: rgb(0, 115, 255);
  font-weight: 700;
}

.coverpage__text {
  font-weight: 500;
}

.coverpage__button {
  font-size: 22px;
  background-color: rgba(0, 115, 255, 0.8);
  border-radius: 35px;
  width: fit-content;
  font-weight: 700;
  color: #fff;
  border: none;
  padding: 20px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.coverpage__button:hover {
  opacity: 0.8;
}
