.main {
  /* background-color: aquamarine; */
  /* height: 1500px; */
  /* background-image: url("/src/assets/cover-page-background.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: var(--topPadding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__heading {
  font-family: var(--segoe);
  font-size: 34px;
}

.main__recent-pets {
  display: grid;
  grid-template-columns: repeat(auto-fit, 253px);
  max-width: 800px;
  width: 100%;
  gap: 20px;
  justify-content: center;
  background: linear-gradient(180deg, var(--bg) 0, var(--bg-accent) 100%);
  border-radius: 28px;
  padding: 26px 18px;
}
