.main {
  background-color: aquamarine;
  height: 1500px;
  background-image: url("/src/assets/cover-page-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
