.news-article {
}

.news-article__content {
  border-radius: 4%;
  margin: 10px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.news-article__content:hover {
  transform: scale(1.02);
}

.news-article__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0) 70%
  );
  display: flex;
  flex-direction: column;
  padding: 11px;
  box-sizing: border-box;
}

.news-article:hover .news-article__overlay {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.1) 80%
  );
}

.news-article__title {
  max-width: 100%;
  color: var(--panel);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin: auto 0 0;
}

.news-article__text {
  opacity: 0;
  color: var(--panel);
  margin: 10px 0 0;
}

.news-article__content:hover .news-article__title {
  color: rgba(250, 250, 250, 0.7);
}

.news-article__content:hover .news-article__text {
  opacity: 1;
}

.news-article__image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
}
