.petCard {
  /* border: 1px solid black; */
  border-radius: 17px;
  overflow: hidden;
  box-shadow: -4px 0px 7px 0px rgba(0, 0, 0, 0.4);
  color: var(--text);
  transition: all 0.2s;
}

.petCard:hover {
  transform: scale(1.02);
}

.petCard__image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
}

.petCard__info-container {
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  align-items: center;
}

.petCard__name {
  margin: 0;
  font-family: var(--segoe);
  font-weight: 900;
  font-size: 18px;
}

.petCard__location {
  margin: 0;
  color: var(--muted);
  font-weight: 600;
}
